.actions-container {
    .actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        >* {
            min-height: 100px;
            max-width: 150px;
            min-width: 100px;
            margin: 2px;
        }
    }
}