.admin-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    table {
        max-width: 1000px;
        flex: 1;
        align-self: center;

        thead td {
            background-color: #1976d2;
            border: 1px solid #1976d2;
            color: white;
            margin: 0;
            padding: 0.3em 1em;
        }
    }
}

form {
    max-width: 1000px;

    &>div {
        border-bottom: 1px dashed lightgrey;
        padding: 0.3em 1em;
        display: flex;

        label {
            flex: 1;
        }

        input,
        select {
            flex: 1;
        }

        input[type=checkbox] {
            flex: 0;
        }
    }
}