.product-grid-container {

    ul {
        margin: 0;
        padding: 2px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 155px);
        flex-wrap: wrap;
        justify-content: left;

        width: 100%;
    }

    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    // overflow-y: hidden;
    // height: 100%;
    flex: 1;

    .product {
        height: 100px;
        width: 150px;
        margin: 2px;
    }
}